body{
    background-color: gainsboro;
}

.container,input,button{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    overflow: auto;
}

input{
    border-radius: 10px;
    width: 50%;
    padding: 1%;
    border:1px solid #ccc ;
}


button{
    margin-left: 10px;
    padding: 1%;
}

ul{
    list-style: none;
    padding: 0;
    margin: 20px 20%;
}

ul li{
    list-style-type: none;
    border: 2px solid rgb(255, 254, 255);
    padding: 10px 10px;
    margin:5px;
    border-radius: 20px;
    background-color: rgb(190, 190, 190);
    color: rgba(7, 7, 7, 0.733);
    font-weight: bold;
 
}

li:hover{
    text-decoration: line-through;
    background-color: cornflowerblue;
    cursor: pointer
}

footer{

    position: relative;
    bottom: 0;
    margin-top: 75%;
    margin: 0 39%;
    
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:





